.screen__1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.screen__header {
  color: #323232;
}

.screen__subheader r {
  color: #373737;
}

.card {
  width: 250px;

  &:hover {
    width: 350px;
    cursor: grab;
  }
}
